EMAIL_USER=
EMAIL_PASS=

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

TELEGRAM_TEACHER_TOKEN=
TELEGRAM_BACKUP_TOKEN=


BAKONG_TOKEN=
BAKONG_RELAY_TOKEN= 
Bakong_Account_ID=
Merchant_Name=
Merchant_City=
BAKONG_URL_CREATE_QR="https:..."
BAKONG_URL_CREATE_QR_IMAGE="https:..."
BAKONG_URL_CHECK_TRANSECTION="https:..."


PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

TELEGRAM_OTP=
CHAT_ID=
JWT_SECRET=
REFRESH_SECRET=
RESET_TOKEN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_DRIVE_ID=


TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

